.responsive-shift {
    @media (min-width: 1069px) {
      transform: translate3D(50%, 0, 0);
    }
  }
  
.responsive-container {
@media (min-width: 1069px) {
    transform: translate3D(80%, 0, 0);
}
}

.responsive-shift-2 {
    @media (min-width: 1069px) {
      transform: translate3D(50%, 0, 0);
    }
  }
  