.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20vw;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  
  
  .lineMask{
    overflow: hidden;
    width: fit-content
  }
  
  .lineMask p{
    margin: 2px;
    
    transform: translateY(100%);
    opacity: 0;
  }

@keyframes slideUp {
    from {
        transform: translateY(1em);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}